header
    nav
        ul
            li
                a.nav-link(href="/students") Students
            li
                a.nav-link(href="/events") Events
            li
                a.nav-link(href="/winners") Winners
