doctype html
html(lang="en-us")
    head
        //- metadata
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")

        //- page info
        title not found

        //- stylesheets
        link(href="/resources/styles/style.css", rel="stylesheet", type="text/css")
    body
        div.404-container
            h1 404
            p page not found
