doctype html
html(lang="en-us")
    head
        //- metadata
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")

        //- page info
        title= id

        //- stylesheets
        link(href="/resources/styles/style.css", rel="stylesheet", type="text/css")

        //- scripts
        script(type="module" src="/resources/scripts/student.js", defer)
    body
        include partials/_nav.pug
        div.page-container
